html{
  background-image: url(https://thumbs.dreamstime.com/z/background-watching-movies-several-object-background-watching-movies-several-objects-wooden-background-125816589.jpg);
  padding-bottom: 10%;
}

.App {
  margin-top: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.input {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  color: rgb(132, 60, 60);
  text-shadow: 4px 3px white;
}
.submit {
  border: rgb(236, 226, 226) inset;
  color: aliceblue;
  cursor: pointer;
  background-color: brown;
}
